{{!-- loop through the products gotten from index.js --}}

{{!-- the first loop will iterate through each chunk(3 products) and add a row --}}
{{#each products}} 
  <div class="row">
    {{#each this }} 
    {{!-- this represents the current element of the loop - in this case another array --}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{ this.imagePath }}" alt="{{ this.title }}" class="img-responsive">
          {{!-- here this represents the actual document(product) --}}
          <div class="caption">
            <h3>{{ this.title }}</h3>
            <p class="description">{{ this.description }}</p>
            <div class="clearfix">
              <div class="price pull-left">${{ this.price }}</div>
              <a href="#" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
            </div>
          </div>
        </div>
      </div> {{!-- close col / actual product --}}
    {{/each}}
  </div> {{!-- close row / productChunk --}}
{{/each}}